<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shuaiz.androido">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="export_activity"
            android:value="home=com.thoughtworks.works.me.MainActivity" />
        <meta-data
            android:name="export_activity_array"
            android:resource="@array/test1" />
        <meta-data
            android:name="export_xml"
            android:resource="@xml/meta_data" />
        <meta-data
            android:name="export_json"
            android:resource="@raw/meta_data" />
        <meta-data
            android:name="export_json_inline"
            android:value="{'activities':[{'name':'com.thoughtworks.home.MainActivity','alias':'home','type':'activity'},{'name':'com.thoughtworks.test.TestActivity','alias':'test','type':'activity'}]}" />
        <meta-data
            android:name="export_string_split"
            android:value="com.thoughtworks.home.MainActivity|home|activity;com.thoughtworks.test.TestActivity|alias|activity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NotificationActivity" />
        <activity android:name=".MetaDataTestActivity"></activity>
    </application>

</manifest>